openapi: 3.2.0
info:
  title: Skydance Media Content API (WordPress REST wp/v2) Settings API
  version: wp/v2
  summary: 'Public read surface of skydance.com content: pages, the media library, taxonomies, comments and site search.'
  description: 'Skydance Media publishes skydance.com on WordPress, which exposes the WordPress REST API at https://skydance.com/wp-json/. The wp/v2 namespace is anonymously readable and returns the site''s pages, media library, categories, tags and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://skydance.com/wp-json/ on 2026-08-05 — every path, method and parameter below is taken verbatim from that descriptor. Skydance Media does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords over HTTP Basic); anonymous callers receive HTTP 401 rest_forbidden.'
  contact:
    name: Skydance Media
    url: https://skydance.com/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://skydance.com/wp-json/
  x-derived-on: '2026-08-05'
  x-provider-published: false
servers:
- url: https://skydance.com/wp-json
  description: Production
tags:
- name: Settings
paths:
  /wp/v2/settings:
    get:
      operationId: getSettings
      summary: GET /wp/v2/settings
      tags:
      - Settings
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
    post:
      operationId: createSettings
      summary: POST /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
    put:
      operationId: replaceSettings
      summary: PUT /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
    patch:
      operationId: updateSettings
      summary: PATCH /wp/v2/settings
      tags:
      - Settings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
components:
  responses:
    WpError:
      description: 'WordPress REST error envelope (not RFC 9457). {"code": "<slug>", "message": "<human string>", "data": {"status": <int>}}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              data:
                type: object
                properties:
                  status:
                    type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Read operations on wp/v2 are anonymous; every write requires credentials issued from the skydance.com WordPress admin.
